<div fxLayout="column" fxFill fxLayoutGap="10px">
  <div>
    <mat-toolbar color="primary">
      <div fxFlexAlign="auto" class="mat-h1">
        <span>Membership Electronic Eligibility Transfer</span>
      </div>
      <span class="fill-space"></span>
      <div *ngIf="loginLogoutActivateBtn.loginFlag">
        <span>
            <a mat-raised-button routerLink='/login'
               class='mat-button'
               (click)='onLoginClick()'>Login</a>
        </span>
      </div>
      <div *ngIf="loginLogoutActivateBtn.logoutFlag">
        <span>
            <a mat-raised-button routerLink='/login'
               class='mat-button'
               (click)='onLogoutClick()'>Logout</a>
        </span>
      </div>
    </mat-toolbar>
  </div>
  <div>
    <app-eet-member-manu></app-eet-member-manu>
    <router-outlet></router-outlet>
  </div>
  <footer fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <p fxFlexAlign="center">Copyright &copy; 2018 Anthem</p>
    </div>
  </footer>
</div>